.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-image: linear-gradient(to right, #1D5A92, #23965F);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-search {
  position: relative;
  height: 10vh;
}


input {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 85%;
  padding: 20px 15px;
  border: 2px solid #CECECE;
  border-radius: 3px;
  outline: none;
  font-size: 24px;
  transition: 0.5s;
}

input:focus {
  border: 2px solid black;
}

button {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  height: 100%;
  width: 74px;
  border-radius: 3px;
  outline: none;
}

.App-searchresults{
  height: 45vh;
  overflow: auto;
}

.Results-table{
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
}

table td,th {
  padding: 15px;
  vertical-align: top;
}

.Star {
  padding-right: 0px;
  font-size: x-large;
  cursor: pointer;
  color: #CECECE;
  transform-origin: center bottom 0px;
}

.Star:hover {
  color: black;
  transition-duration: .2s;
}


.Star:active {
  transform: matrix(0.95, 0, 0, 0.95, 0, 0);
}

#highlighted {
  color: #23965F;
}

.loadingIcon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  vertical-align: center;
}



@media screen and (max-width:600px) {
  input {
    padding: 2px 2px;
  }
}

