/*
.App-searchresults{
  height: 45vh;
  overflow: auto;
}

.Results-table{
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
}

table td,th {
  padding: 15px;
  vertical-align: top;
}

.Star {
  padding-right: 0px;
  font-size: x-large;
  cursor: pointer;
  color: #CECECE;
  transform-origin: center bottom 0px;
}

.Star:hover {
  color: black;
  transition-duration: .2s;
}

.Star:active {
  transform: matrix(0.95, 0, 0, 0.95, 0, 0);
}

#highlighted {
  color: #23965F;
}

.loadingIcon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  vertical-align: center;
}

.App-favourites {
  background: #F7FEFA;
  overflow: auto;
  height: 30vh;
}

.App-favourites h1 {
  margin-left: 20px;
  color: #23965F;
}

@media screen and (max-width:600px) {
  input {
    padding: 2px 2px;
  }
}
*/


.app {
  /*font-size: calc(5px + 2vmin);*/
  -moz-appearance: none;
-webkit-appearance: none;
}


.header {
  background-image: linear-gradient(to right, #1D5A92, #23965F);
  color: white;
  margin: auto;
  padding: 1%;
  text-align: center;
}

.app-header {
  height: 30vh;
  box-shadow: 0px -3px 30px #CECECE;
  -moz-transition:all .5s ease-in-out;
  -o-transition:all .5s ease-in-out;
  -webkit-transition:all .5s ease-in-out;
}
.app-body {
  height: 70vh;
}

.searchresults {
  min-height: 60%;
  max-height: 60%;
  overflow-y: auto;
  margin-left: auto;
  margin-right: auto;
}

.favourites {
  background-color: #F7FEFA;
  width: 100%;
  min-height: 40%;
  max-height: 40%;
  overflow-y: auto;
}
.favourites h1 {
  width: 80%;
  margin: auto;
}
@media screen and (max-width:600px) {
  .app-header {
    height: 15vh;
  }
  .app-body {
    height: 85vh;
  }
  h1 {
    font-size: 1rem;
  }
}
